.my-grid {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
  width: 100%;
}

.text_variant_1 {
  grid-row: 18 / span 2;
  grid-column: 5 / span 10;
}
.image_variant_1 {
  grid-row: 1 / span 19;
  grid-column: 1 / span 15;
}
.text_variant_2 {
  grid-row: 1 / span 2;
  grid-column: 1 / span full;
}
.image_variant_2 {
  grid-row: 3 / span full;
  grid-column: 1 / span full;
}
.text_variant_3 {
  grid-row: 1 / span 2;
  grid-column: 1 / span full;
  text-align: start;
}
.image_variant_3 {
  grid-row: 3 / span full;
  grid-column: 1 / span full;
}
.text_variant_4 {
  grid-row: 17 / span 2;
  grid-column: 1 / span 20;
  text-align: start;
}
.image_variant_4 {
  grid-row: 1 / span 18;
  grid-column: 1 / span full;
}
.text_variant_5 {
  grid-row: 1 / span 2;
  grid-column: 12 / span 8;
  text-align: start;
}
.image_variant_5 {
  grid-row: 2 / span full;
  grid-column: 1 / span full;
}
.text_variant_6 {
  grid-row: 1 / span 2;
  grid-column: 1 / span full;
  text-align: end;
}
.image_variant_6 {
  grid-row: 3 / span full;
  grid-column: 1 / span full;
}
.text_variant_7 {
  grid-row: 17 / span full;
  grid-column: 1 / span full;
  text-align: end;
}
.image_variant_7 {
  grid-row: 1 / span 17;
  grid-column: 1 / span 18;
}
.text_variant_8 {
  grid-row: 1 / span full;
  grid-column: 5 / span full;
  text-align: start;
}
.image_variant_8 {
  grid-row: 2 / span full;
  grid-column: 1 / span 9;
}
.text_variant_9 {
  grid-row: 18 / span full;
  grid-column: 1 / span full;
}
.image_variant_9 {
  grid-row: 1 / span 19;
  grid-column: 1 / span full;
}
